.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h4{
  display: flex;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

h2{
  display: flex;
  font-size: 36px;
  align-items: center;
  justify-content: center;
}
h6{
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
}